@inherits LayoutComponentBase

<PageTitle>Sentiment Analysis</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/piotrkotulski/SentimentAnalysis" target="_blank">GitHub</a>
        </div>

        <div class="content">
            @Body
        </div>
    </main>
</div>
