<div class="sidebar-header">
    <a class="navbar-brand" href="/">Sentiment Analysis</a>
</div>

<nav class="sidebar-nav">
    <div class="nav-item">
        <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span> Analiza
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="about">
            <span class="oi oi-people" aria-hidden="true"></span> O projekcie
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link" href="team">
            <span class="oi oi-person" aria-hidden="true"></span> Zespół
        </NavLink>
    </div>
</nav>
