@page "/about"

<PageTitle>O projekcie</PageTitle>

<h1>O projekcie</h1>

<p>
    Projekt Sentiment Analysis to narzędzie do analizy sentymentu tekstu wykorzystujące Azure Cognitive Services.
    Aplikacja pozwala na analizę emocjonalnego wydźwięku wprowadzonego tekstu, określając jego pozytywny,
    neutralny lub negatywny charakter.
</p>

<h3>Wykorzystane technologie:</h3>
<ul>
    <li>ASP.NET Core</li>
    <li>Blazor Server</li>
    <li>Azure Cognitive Services</li>
    <li>Azure Cosmos DB</li>
</ul> 