@page "/about"

<h1>O projekcie</h1>

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Analiza Sentymentu w Mediach Społecznościowych</h5>
        <p class="card-text">
            Projekt realizowany w ramach przedmiotu "Integracja usług Cloud dla przedsiębiorstw"
        </p>
        
        <h6 class="mt-4">Autorzy:</h6>
        <ul class="list-unstyled">
            <li>Piotr Kotulski</li>
            <li>Natan Gopon</li>
        </ul>

        <h6 class="mt-4">Technologie:</h6>
        <ul>
            <li>ASP.NET Core Blazor</li>
            <li>Azure Cognitive Services</li>
            <li>Azure Functions</li>
            <li>Azure Cosmos DB</li>
        </ul>

        <div class="mt-4">
            <small class="text-muted">© 2024 Wszelkie prawa zastrzeżone</small>
        </div>
    </div>
</div> 