@page "/team"

<PageTitle>Zespół</PageTitle>

<h1>Nasz zespół</h1>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Piotr Kotulski</h5>
                <p class="card-text">Full Stack Developer</p>
                <a href="https://github.com/yourusername" target="_blank" class="btn btn-primary">GitHub</a>
            </div>
        </div>
    </div>
    <!-- Dodaj więcej członków zespołu według potrzeb -->
</div> 